RewriteEngine On
RewriteBase /cv_mvc_cus/public/
 # Sesuaikan dengan direktori proyek Anda

# Redirect semua permintaan bukan untuk file atau direktori yang ada
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Tujukan permintaan ke index.php dengan parameter PATH_INFO
RewriteRule ^ index.php [QSA,L]
